.page4 {
  display: flex;
  width: 100%;
  @media only screen and (max-width: 750px) {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    flex-direction: column;
  }
  @media only screen and (max-width: 700px) {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    flex-direction: column;
  }
  @media only screen and (max-width: 650px) {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    flex-direction: column;
  }
  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns:repeat(1,1fr);
    width: 400px;
    margin: auto;
  }
}

.new {
  display: flex;
  background-color: darkgray;
  width: 100%;
  border: 3px solid black;
  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.nkar {
  width: 100%;
}

.text2 {
  padding: 10px;
}

.read {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
}

.text4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

