*{
    margin: 0;
    padding: 0;
}


.lesson5 {
    background-color: darkgray;
    display: flex;
    width: 700px;
    height: 600px;
}

.black {

    background-color: white;
    width: 600px;
    height: 500px;
}

#white {
    background-color: white;
}

.bank {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin: 50px;

}


.ach {
    display: flex;
    justify-content: right;
}
