.moon1 {
    background-image: url("../assets/images/moon.jpg");
    background-size: cover;
    width: 100%;
}


.moon2 {
    background-image: url("../assets/images/moon.jpg");
    background-size: cover;
    width: 700px;
    background-position: center;
    background-repeat: no-repeat;
}


.gray {
    color: darkgray;
    text-align: right;
}


#youtube {
    background-color: darkgray;
    text-decoration: none;
    color: white;
}



.link {
    width: 390px;
    background-color: darkgray;
}



.chap {
    background-color: darkgray;
    background-size: cover;
    width: 700px;
}



.white {
    color: white;
    width: 700px;
}



.color {
    color: white;
    text-shadow: 7px 7px 7px white;
    text-align: center;
}



#be {
    color: white;
}



.right {
    text-align: right;
}



.bar {
    width: 300px;
    text-align: center;
    color: white;
}



.right1 {
    text-align: right;
}