.banana {
  display: flex;
  justify-content: center;
  width: 100%;
  @media only screen and (max-width: 800px) {
    display: flex;
  }
}

.page3 {
  display: grid;
  grid-template-columns:repeat(5,1fr);
  width: 100%;
  background-color: black;
  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}

.fruit1 {
  width: 100%;
  display: flex;
  border: 2px solid white;
  padding: 2px;
}
