.banana {
  display: flex;
  justify-content: center;
}

.page3 {
  display: flex;
  width: 800px;
  background-color: black;
  justify-content: space-around;
}

.fruit1 {
  width: 145px;
  display: flex;
  border: 2px solid white;
  padding: 2px;
}
