.mecej {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTariff {
  background-color: black;
  display: flex;
  width: 700px;
  height: 200px;
  padding: 15px;
  justify-content: space-around;
}

.ej1 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 23px;
  border-bottom: 3px solid purple;
}

.ej2 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 23px;
  border-bottom: 3px solid red;
}

.ej3 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 23px;
  border-bottom: 3px solid orange;
}

.ej4 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 23px;
  border-bottom: 3px solid aqua;
}

.ej5 {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 23px;
  border-bottom: 3px solid #adec53;
}

ul{
  display: flex;
  list-style: none;
  gap:7px;
}

.title1 {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    position: relative;
    transition: 0.9s;
    &:hover{
      .page{
        display: flex;
      }
    }
    .page {
      flex-direction: column;
      gap: 3px;
      position: absolute;
      top: 25px;
      display: none;
      padding: 7px 0;
      margin-left: -28px;
      .pageLink{
        display: flex;
        width: 100px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: purple;
      }
    }
  }

.title2 {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  transition: 0.9s;
  &:hover{
    .page{
      display: flex;
    }
  }
  .page {
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 25px;
    display: none;
    padding: 7px 0;
    margin-left: -19px;
    .pageLink{
      display: flex;
      width: 100px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background-color: red;
    }
  }
}

.title3{
  display: flex;
  align-items: center;
  color: white;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  transition: 0.9s;
  &:hover{
    .page{
      display: flex;
    }
  }
  .page {
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 25px;
    display: none;
    padding: 7px 0;
    margin-left: -24px;
    .pageLink{
      display: flex;
      width: 100px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background-color: orange;
    }
  }
}

.title4{
  display: flex;
  align-items: center;
  color: white;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  transition: 0.9s;
  &:hover{
    .page{
      display: flex;
    }
  }
  .page {
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 25px;
    display: none;
    padding: 7px 0;
    margin-left: -11px;
    .pageLink{
      display: flex;
      width: 100px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background-color: aqua;
    }
  }
}

.title5{
  display: flex;
  align-items: center;
  color: white;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  transition: 0.9s;
  &:hover{
    .page{
      display: flex;
    }
  }
  .page {
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 25px;
    display: none;
    padding: 7px 0;
    margin-left: -22px;
    .pageLink{
      display: flex;
      width: 100px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background-color: #adec53;
    }
  }
}





