.lesson7 {
    background-color: darkgrey;
    width: 700px;
    height: 100%;
    margin: 20px;
}


.image {
    background-image: url("../assets/images/samurai4.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 10px;
}


.arev {
    display: flex;
    background-color: darkgray;
    width: 600px;
    height: 50px;
    gap: 45px;
    align-items: center;
    margin: 10px;
}

#white {
    color: black;
}

.amp {
    background-color:  dimgrey;
}


.darkgray {
    color: black
}


.mart {
    background-image: url("../assets/images/samurai3.jpg");
    background-size: cover;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

.april {
    color: dimgrey;
    margin: 10px;
}

.mayis {
    width: 400px;
    margin: 10px;
}

.anna {
    background-color: white;
    width: 500px;
    height: 200px;
    margin: 10px;
    display: flex;
}


.room {
    background-image: url("../assets/images/samurai2.jpg");
    background-size: cover;
    width: 800px;
    height: 100px;
    margin: 10px;
}


.hamar {
    background-color: white;
    width: 500px;
    height: 100px;
    margin: 10px;
    display: flex;
}


.room2 {
    background-image: url("../assets/images/samurai2.jpg");
    background-size: cover;
    width: 500px;
    height: 100px;
    margin: 5px;
}


.by {
    display: flex;
    justify-content: center;
}