* {
    margin: 0;
    padding: 0;
}


.center {
    display: flex;
    justify-content: center;
}


.color {
    display: flex;
    flex-direction: column;
    background-color: #5a5aff;
    width: 620px;
    height: 900px;
    gap: 10px;
    margin: auto;
}


.mejtex {
    display: flex;
    list-style-type: none;
    gap: 20px;
}


.spitak {
    color: white;
}


.drosh1 {
    background-image: url("../assets/images/Armenia.webp");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.drosh2 {
    background-image: url("../assets/images/Russia.png");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.drosh3 {
    background-image: url("../assets/images/japan.webp");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.rezin {
    display: flex;
    gap: 20px;
}


.ket {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.pingvin {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.dar {
    display: flex;
    gap: 10px;
}


.night {
    background-image: url("../assets/images/night.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 388px;
}


.search {
    background-image: url("../assets/images/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 50px;
}


.tuxt {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


input {
    height: 15px;
}


.ket {
    list-style-position: inside;
    gap: 10px;
}


.mat {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/moon2.jpg");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 90px;
}


.product {
    display: flex;
    gap: 10px;
}


h3 {
    width: 220px;
}


.mat2 {
    width: 220px;
}


.mat3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.mat4 {
    width: 50px;
}


.product2 {
    display: flex;
    flex-direction: column;
}