.page1 {
  //display: flex;
  margin: auto;
  @media only screen and (max-width: 791px) {
    width: 100%;
  }
}

.ananas {
  width: 100%;
  height: 300px;
  object-fit: cover;
  @media only screen and (max-width: 100%) {
    width: 710px;
    margin: auto;
  }
}
