.page1 {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    width: 800px;
  }
}

.ananas {
  width: 100%;
  height: 300px;
  object-fit: cover;
  @media only screen and (max-width: 800px) {
    width: 400px;
  }
}
