.Content {
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #8a8787;
  .Content2 {
    display: flex;
    gap: 5px;
    margin-top: 15px;
  }
}