.tox {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.page2 {
  background-color: darkgray;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 800px) {
    width: 400px;
  }
}