.container1 {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.nav {
  display: flex;
  background-color: #8c8686;
  width: 100%;
  justify-content: space-around;
}

.home {
  width: 50px;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gic {
  text-decoration: none;
  color: white;
}